
<div class="carousel">
  <div
    class="carousel-track"
    [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
  >
    <div
      class="carousel-slide"
      *ngFor="let image of images"
    >
      <img [src]="image" alt="Carrusel" />
    </div>
  </div>

  <!-- Botones -->
  <button class="nav prev" (click)="prev()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
  class="lucide lucide-arrow-left">
  <path d="M19 12H5"/>
  <path d="m12 19-7-7 7-7"/>
</svg>
</button>
  <button class="nav next" (click)="next()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg></button>

  <!-- Indicadores -->
  <div class="indicators">
    <span
      *ngFor="let image of images; let i = index"
      [class.active]="i === currentIndex"
      (click)="goTo(i)"
    ></span>
  </div>
</div>

